spring:
  application:
    name: prefschedule
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
server:
  port: 8080

# Eureka Client Configuration
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${server.port}

# Update StableMatch service URL to use service name
stablematch:
  service:
    url: http://localhost:8084  # Use service name instead of localhost:8084
    #url: http://localhost:8084

resilience4j:
  circuitbreaker:
    instances:
      stableMatchService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.io.IOException
          - java.util.concurrent.TimeoutException
        ignoreExceptions:
          - com.example.prefschedule.exception.ResourceNotFoundException
  
  retry:
    instances:
      stableMatchService:
        maxAttempts: 3
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - org.springframework.web.client.ResourceAccessException
          - java.io.IOException
        ignoreExceptions:
          - com.example.prefschedule.exception.ResourceNotFoundException
  
  timelimiter:
    instances:
      stableMatchService:
        timeoutDuration: 30s
        cancelRunningFuture: true

  ratelimiter:
    instances:
      stableMatchService:
        limitForPeriod: 10
        limitRefreshPeriod: 1s
        timeoutDuration: 0s
        registerHealthIndicator: true

  bulkhead:
    instances:
      stableMatchService:
        maxConcurrentCalls: 5
        maxWaitDuration: 1s
  
  thread-pool-bulkhead:
    instances:
      stableMatchService:
        maxThreadPoolSize: 4
        coreThreadPoolSize: 2
        queueCapacity: 2
        keepAliveDuration: 20ms

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,circuitbreakers,circuitbreakerevents,ratelimiters,bulkheads,prometheus
  endpoint:
    health:
      show-details: always
    metrics:
      access:
    prometheus:
      access: unrestricted
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 10ms,50ms,100ms,200ms,500ms,1s,2s,5s
  prometheus:
    metrics:
      export:
        enabled: true
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true